
/*body北京颜色*/
body{
	background: #f7f7f7;
}

/*响应式*/
@media only screen and (min-width: 992px) {
	section{
		width: 80%;
		background: #fff;
		margin: 0 auto;
		min-height: 100vh;
		padding-top: 30px;
	}
	h1{
		font-size: 28px;
		font-weight: bold;
		line-height: 44px;	
		text-align: center;
	}
	section .articeInfo{
		text-align: center;
		font-family: georgia;
		line-height: 24px;
		color: #999;
		border-bottom: 1px dashed #d7d7d7;
		padding-bottom: 5px;
		font-size: 15px;
	}
	section .articeInfo span:nth-of-type(2){
		margin-left: 12px;
	}
}

@media only screen and (max-width: 992px) {
	h1{
		font-size: 16px;
		font-weight: bold;
		
	}
}